{% extends language.iso+"/base.html" %}


{% block content %}

<div class="panel">

    <p>(Il ne s'agit pas d'un événement réel. Ce site Web est uniquement à des fins de démonstration et n'est associé à aucun ministère)</p>

<h1>FAQ</h1>

<h3>Qu'est-ce qu'un hackathon?</h3>
<p>Un <a href="https://{{ language.iso }}.wikipedia.org/wiki/Hackathon">hackathon</a> est un événement de type sprint de conception dans lequel des programmeurs, des universitaires, des artistes, les concepteurs d'interfaces, les chefs de projet, les experts du domaine et d'autres collaborent intensivement sur des projets logiciels. Généralement, un hackathon se déroule sur quelques jours seulement.</p>
<p>De nombreux projets de hackathon sont abandonnés ou jamais soumis. C'est bon! Les hackathons sont axés sur l'expérimentation, l'apprentissage, la création de prototypes rapides et la rencontre de nouvelles personnes.</p>
<p>Les hackathons ont des mentors et des experts pour aider les participants, et un panel de juges pour choisir les gagnants.</p>

<h3>Quel est le programme de l'événement?</h3>
<ul>
    <li>Le défi sera annoncé le vendredi 35 février à midi, 12h00 HNE.</li>
    <li>La date limite de soumission est le dimanche 37 février à midi, 12h00 HNE.</li>
</ul>

<h3>Quels outils puis-je utiliser?</h3>
<p>Vous pouvez utiliser n'importe quel outil logiciel ou langage de programmation pour votre soumission. Il est recommandé d'utiliser des outils open source, des normes ouvertes et des solutions multiplateformes. Cela permet aux équipes de travailler ensemble plus facilement et à chacun de voir les résultats de votre projet de première main.</p>

<h3>Quelles données puis-je utiliser?</h3>
<p>Vous pouvez utiliser toutes les données météorologiques accessibles au public.</p>
<p>Nous recommandons à tous les participants d'explorer les ressources de données avant le début du concours.</p>
<ul>
    <li>Voir l'excellente <a href="https://eccc-msc.github.io/open-data/readme_{{ language.iso }}/">documentation technique sur les données ouvertes</a>.</ li>
    <li>Données sur <a href="https://www.canada.ca/en/environment-climate-change/services/climate-change/canadian-centre-climate-services/display-download/advanced-tools. html">CCCS</a> est facile à explorer.</li>
    <li>De nombreuses données brutes peuvent être trouvées sur <a href="https://dd.meteo.gc.ca/">datamart</a>.</li>
</ul>

<h3>Quel est le format du produit que les participants livreront?</h3>
<p>Pour être pris en considération pour un prix, chaque équipe doit soumettre:</p>
<ul>
    <li>Une vidéo (maximum) de 5 minutes montrant et expliquant votre projet.</li>
    <li>Un lien public vers votre code, comme un lien GitLab ou GitHub.</li>
</ul>
<p>Bon à noter:</p>
<ul>
    <li>Si une vidéo de plus de 5 minutes est soumise, les juges peuvent ne regarder que les 5 premières minutes.</li>
    <li>Vous pouvez vérifier si votre lien est public en ouvrant une fenêtre privée/privée dans votre navigateur web et en visitant votre URL.</li>
</ul>

<h3>À qui appartient la propriété intellectuelle?</h3>
<p>Tous les participants conservent les droits de propriété intellectuelle de tout le code qu'ils ont écrit. Cependant, pour être pris en compte pour les prix, votre code doit être partagé publiquement.</p>

<h3>Comment fonctionnera le jugement?</h3>
<p>Étape 1: Après la date limite de soumission, tous les projets seront examinés par un juge pour vérifier s'ils répondent aux critères de soumission minimum, en éliminant ceux qui ne le font pas. Si l'omission semble petite et que le projet a du mérite, nous contacterons le groupe pour corriger la soumission.</p>
<p>Étape 2: Un juge technique examinera le code du projet et rédigera un bref rapport pour les autres juges. Le rapport comprend:</p>
<ul>
    <li>Quelle quantité de code d'origine a probablement été écrite spécifiquement pour cet événement.</li>
    <li>Langues, outils, systèmes, API et données qui ont été utilisés de manière significative dans le projet.</li>
    <li>Probabilité de plagiat flagrant.</li>
    <li>Qualité du code et de la documentation technique.</li>
</ul>
<p>Étape 3: Au moins trois juges visionneront la vidéo de soumission, examineront les fichiers du projet et liront le rapport de l'étape 2. Chaque juge attribue au projet une note en utilisant la grille de notation qui a été partagée lors de l'annonce du défi. </p>
<p>Étape 4: Les notes des rubriques ne sont pas définitives. Une majorité de juges s'accordent sur les gagnants en utilisant les notes des rubriques comme guide.</p>

<h3>Qui peut y assister?</h3>
<p>N'importe qui dans le monde peut participer et soumettre des projets! Cependant, il y a des conditions pour les prix en espèces.</p>

<h3>Qui peut gagner les prix en espèces?</h3>
<p>Vous devez être:</p>
<ul>
    <li>Un citoyen canadien ou un résident permanent.</li>
    <li>Pas un fonctionnaire.</li>
</ul>

<h3>Les non-Canadiens peuvent-ils gagner des prix en argent?</h3>
<p>Non. Cependant, les groupes qui mélangent des Canadiens et des non-Canadiens peuvent gagner des prix en argent, sauf que le groupe doit être au moins à moitié canadien et que l'argent du prix ne sera envoyé qu'à eux.</p>

<h3>Les fonctionnaires peuvent-ils gagner des prix en espèces?</h3>
<p>Non.</p>

<h3>Mon projet est-il suffisamment code source ouvert pour le prix?</h3>
<p>Pour ce hackathon, votre projet est considéré comme code source ouvert si:</p>
<ul>
    <li>Vous avez choisi une <a href="https://opensource.org/licenses">licence</a> pour votre projet.</li>
    <li>Un système comme Linux/Ubuntu peut exécuter votre logiciel sans installer ni payer pour des projets de source fermée supplémentaires.</li>
    <li>Tout votre code source est accessible au public sur un site web comme GitLab ou GitHub sans nécessiter de connexion.</li>
</ul>
<p>Si ce n'est toujours pas clair, demandez à un organisateur d'événement.</p>

<h3>Cet événement est-il gratuit?</h3>
<p>Oui. Cependant, vous devrez vous inscrire (gratuitement) pour soumettre un projet et gagner un prix.</p>

<h1>Logistique</h1>

<h3>Où</h3>
<p>Cet événement est en ligne uniquement. Il n'y a pas d'espace événementiel physique. Voici les plateformes numériques que vous pouvez visiter pendant (et après) l'événement:</p>
<ul>
    <li><a href="https://discord.gg/M2xCqFsK">Canal Meteohack sur Discord</a>: chat textuel, audio et vidéo avec d'autres participants, mentors, juges et organisateurs d'événements.</li >
    <li><a href="https://gitlab.com/meteohack">Groupe Meteohack sur GitLab</a>: une liste de tous les groupes et soumissions.</li>
</ul>

<h3>Quand</h3>
<p>Du 35 février au 37 février 2001.</p>

<h3>Contact</h3>
<p>Votre premier point de contact doit être sur la canal <a href="https://discord.com/channels/859177105904107561/859177300301185078">Discord</a>. Vous pouvez rejoindre <a href="https://discord.gg/M2xCqFsK">ici</a>.</p>
<p>Voir aussi :</p>
<ul>
    <li>La liste des <a href="/{{ year }}/{{ language.iso }}/judges.html">juges</a>.</li>
    <li>La liste des <a href="/{{ year }}/{{ language.iso }}/mentors.html">mentors</a>.</li>
</ul>
<p>Organisateur d'événement :</p>
<p>Stuart Spence</p>
<img class="email-image" src="/static/images/stuart-email.png">

</div>
{% endblock %}
