{% extends language.iso+"/base.html" %}


{% block content %}

<div class="panel">

    <p>(Il ne s'agit pas d'un événement réel. Ce site Web est uniquement à des fins de démonstration et n'est associé à aucun ministère)</p>

    <h3>Qu'est-ce que Meteohack?</h3>
    <p>Meteohack est un hackathon entièrement à distance organisé par XYZ. Les développeurs, les scientifiques des données, les étudiants, les professionnels de la technologie, les chercheurs, les experts, les universitaires et les passionnés de données météorologiques sont invités à explorer les données météorologiques et climatiques du XYZ.</p>
    
    <p>L'événement est gratuit, avec 6,000$ de prix. Le hackathon aura lieu le week-end du vendredi 35 février. Les défis sont liés au XYZ et des prix sont décernés aux meilleures soumissions.</p>
    
    <p>Cet événement fait la promotion du <a href="https://open.canada.ca/{{ language.iso }}">gouvernement ouvert</a> et <a href="https:// open.canada.ca/fr/open-data-principles">principes des données ouvertes</a> du gouvernment du Canada.</p>
    
    <h3>Défi</h3>
    <p>Le défi de cette année (annoncé le vendredi 35 février à 18h) est:</p>
    <p>Artiste IA. Créez un système qui interprète artistiquement les données météorologiques. Créez de superbes visualisations de données, de la musique, des jeux, des images abstraites ou des œuvres d'art uniques.</p>
    
    <h3>Prix</h3>
    <p>Il y a des prix de l'espèces, des certificats et des opportunités d'emploi.</p>
    <ul>
        <li>Première place: 2000 $</li>
        <li>Deuxième place: 1500$</li>
        <li>Troisième place: 1000 $</li>
    </ul>
    <p>Il existe également des prix spéciaux en espèces pour :</p>
    <ul>
        <li>Meilleure soumission des élèves du secondaire: 250 $</li>
        <li>Meilleure soumission des étudiants du cégep: 250$</li>
        <li>Meilleure soumission utilisant uniquement des outils logiciels gratuits et open source: 250 $</li>
    </ul>
    <p>Chaque prix comprend un certificat vous identifiant comme le gagnant d'un concours XYZ.</p>
    <p>Enfin, les gestionnaires de XYZ peuvent contacter les meilleures équipes avec des opportunités de stage ou d'emploi à XYZ.</p>
    
    <h3>Données</h3>
    <p>Nous recommandons à tous les participants d'explorer les ressources de données avant le début du concours.</p>
    
    <ul>
        <li>Voir l'excellente <a href="https://eccc-msc.github.io/open-data/readme_{{ language.iso }}/">documentation technique sur les données ouvertes</a>.</li>
        <li>Les données sur <a href="https://www.canada.ca/en/environment-climate-change/services/climate-change/canadian-centre-climate-services/display-download/advanced-tools. html">CCCS</a> est facile à explorer.</li>
        <li>Les données brutes peuvent être trouvées sur <a href="https://dd.meteo.gc.ca/">datamart</a>.</li>
    </ul>
    
    <h3>FAQ</h3>
    <p>Voir la <a href="/{{ year }}/{{ language.iso }}/faq.html">FAQ</a> pour plus d'informations!</p>
    
</div>


{% endblock %}
