<!DOCTYPE html>
<html>
  <head>
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Meteohack</title>
    {% endif %}
    <link href="{{ url_for('static',filename='/css/meteohack.css') }}" rel="stylesheet">
    
    <link rel="icon" 
      type="image/png" 
      href="/static/images/favicon.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  </head>
  <body>
  
			<div class="navigation-bar">
					<span class="navigation-bar-link"><a href="/{{ year }}/{{ language.iso }}/home.html">Meteohack 2027</a></span>
					<span class="navigation-bar-link"><a href="https://eccc-msc.github.io/open-data/readme_{{ language.iso }}/">Data</a></span>
					<span class="navigation-bar-link"><a href="/{{ year }}/{{ language.iso }}/faq.html">FAQ</a></span>
					<span class="navigation-bar-link"><a href="https://weather.gc.ca/">weather.gc.ca</a></span>
					<span class="navigation-bar-link"><a href="/{{ year }}/{{ language.other_iso }}/home.html">{{ language.other_label }}</a></span>
			</div>
			
			<img class="meteohack-banner-full" src="{{ url_for('static',filename='images/banner-thin%s.png'%banner_index) }}">
		
    		<div class="container">
			{% block content %}{% endblock %}
    		</div>
    		
    		<img class="meteohack-banner-full" src="{{ url_for('static',filename='images/footer%s.png'%banner_index) }}">
    		
  </body>

<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://msc-analytics.cloud/piwik/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '12']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

</html>
