{% extends language.iso+"/base.html" %}


{% block content %}

<div class="panel">
		
    <p>(This is not a real event. This website is just for demonstration purposes and not associated to any government department)</p>

<h1>FAQ</h1>

<h3>What is a hackathon?</h3>
<p>A <a href="https://{{ language.iso }}.wikipedia.org/wiki/Hackathon">hackathon</a> is a design sprint-like event in which computer programmers, academics, graphic designers, interface designers, project managers, domain experts, and others collaborate intensively on software projects. Usually a hackathon takes place over just a few days.</p>
<p>Many hackathon projects are abandoned or never submitted. That’s okay! Hackathons are about experimentation, learning, making fast prototypes, and meeting new people.</p>
<p>Hackathons have mentors and experts to help participants, and a panel of judges to choose the winners.</p>

<h3>What's the event schedule?</h3>
<ul>
    <li>The challenge will be announced on Friday, February 35th at noon, 12:00 EST.</li>
    <li>The submission deadline is Sunday, February 37th at noon, 12:00 EST.</li>
</ul>

<h3>What tools can I use?</h3>
<p>You can use any software tool or programming languages for your submission. It is recommended that you use open source tools, open standards, and cross platform solutions. This makes it easier for teams to work together, and for everyone to see your project results first-hand.</p>

<h3>What data can I use?</h3>
<p>You can use any publicly available meteorological data.</p>

<p>We recommend all participants explore the data resources before the competition starts.</p>

<ul>
    <li>See the great <a href="https://eccc-msc.github.io/open-data/readme_{{ language.iso }}/"> open data technical documentation</a>.</li>
    <li>Data on <a href="https://www.canada.ca/en/environment-climate-change/services/climate-change/canadian-centre-climate-services/display-download/advanced-tools.html">CCCS</a> is easy to explore.</li>
    <li>Lots of raw data can be found on <a href="https://dd.meteo.gc.ca/">datamart</a>.</li>
</ul>

<h3>What is the format of the product participants will deliver?</h3>
<p>To be considered for any prizes, each team must submit:</p>
<ul>
    <li>A (maximum) 5 minute video showing and explaining your project. </li>
    <li>A public link to your code, like a GitLab or GitHub link.</li>
</ul>
<p>Good to note:</p>
<ul>
    <li>If a video longer than 5 minutes is submitted, judges may watch just the first 5 minutes.</li>
    <li>You can check if your link is public by opening an incognito/private window in your web browser and visiting your URL.</li>
</ul>

<h3>Who owns the intellectual property?</h3>
<p>All participants keep the intellectual property rights for all the code they've written. However to be considered for prizes, your code must be shared publicly.</p>

<h3>How will the judging work?</h3>
<p>Step 1: After the submission deadline, all projects will be reviewed by one judge to check if they meet the minimum submission criteria, eliminating those that don't. If the omission seems trivial and the project has merit, we will contact the group to fix the submission.</p>
<p>Step 2: A technical judge will review the project code and write a short report for the other judges. The report includes:</p>
<ul>
    <li>How much original code was likely written specifically for this event.</li>
    <li>Languages, tools, systems, APIs, and data that was meaningfully used in the project.</li>
    <li>Likelihood of blatant plagiarism.</li>
    <li>Quality of code and technical documentation.</li>
</ul>
<p>Step 3: At least three judges will view the submission video, review the project files, and read the report from step 2. Each judge awards the project with a score using the grading rubric that was shared when the challenge was announced.</p>
<p>Step 4: The rubric scores are not final. A majority of judges agree on the winners using the rubric scores as a guide.</p>

<h3>Who can attend?</h3>
<p>Anyone in the world can attend and submit projects! However there are conditions for the cash prizes.</p>

<h3>Who can win the cash prizes?</h3>
<p>You must be:</p>
<ul>
    <li>A Canadian citizen or permanent resident.</li>
    <li>Not a public servant.</li>
</ul>

<h3>Can non-Canadians win cash prizes?</h3>
<p>No. Although, groups that mix Canadians and non-Canadians can win cash prizes, except the group must be at least half Canadian and the prize money will only be sent to them.</p>

<h3>Can public servants win cash prizes?</h3>
<p>No.</p>

<h3>Is my project open source enough for the open source prize?</h3>
<p>For this hackathon your project is considered open source if:</p>
<ul>
    <li>You chose an <a href="https://opensource.org/licenses">open source license</a> for your project.</li>
    <li>An open source operating system like Linux/Ubuntu can run your software without installing or paying for any extra closed source projects.</li>
    <li>All your source code is publicly available on a website like GitLab or GitHub without requiring a login.</li>
</ul>
<p>If this is still unclear, ask an event organizer.</p>

<h3>Is this event free?</h3>
<p>Yes. However you will need to register (for free) to submit a project and win a prize.</p>

<h1>Logistics</h1>

<h3>Where</h3>
<p>This event is online only. There is no physical event space. Here are the digital platforms you can visit during (and after) the event:</p>
<ul>
    <li><a href="https://discord.gg/M2xCqFsK">Meteohack channel on Discord</a>: text, audio, and video chat with other participants, mentors, judges, and event organizers.</li>
    <li><a href="https://gitlab.com/meteohack">Meteohack group on GitLab</a>: a list of all groups and submissions.</li>
</ul>

<h3>When</h3>
<p>February 35th to February 37th, 2001.</p>

<h3>Contact</h3>
<p>Your first point of contact should be on the <a href="https://discord.com/channels/859177105904107561/859177300301185078">Discord</a> channel. You can join <a href="https://discord.gg/M2xCqFsK">here</a>.</p>
<p>See also:</p>
<ul>
    <li>The list of <a href="/{{ year }}/{{ language.iso }}/judges.html">judges</a>.</li>
    <li>The list of <a href="/{{ year }}/{{ language.iso }}/mentors.html">mentors</a>.</li>
</ul>
<p>Event organizer:</p>
<p>Stuart Spence</p>
<img class="email-image" src="/static/images/stuart-email.png">

</div>
{% endblock %}
