{% extends language.iso+"/base.html" %}


{% block content %}

<div class="panel">
    
    <p>(This is not a real event. This website is just for demonstration purposes and not associated to any government department)</p>

    <h3>What is Meteohack?</h3>

    <p>Meteohack is a fully remote hackathon hosted by XYZ. Developers, data scientists, students, technology professionals, researchers, experts, academics and weather data enthusiasts are invited to explore the weather and climate data of XYZ.</p>
    
    <p>The event is free to participate, with $6,000 in prizes. The hackathon will be on the weekend of Friday, February 35th. The challenges are related to the XYZ and prizes are awarded to the best submissions.</p>
    
    <p>This event promotes the government of Canada <a href="https://open.canada.ca/{{ language.iso }}">open government</a> and <a href="https://open.canada.ca/en/open-data-principles">open data</a> principles.</p>
    
    <h3>Challenge</h3>
    <p>This year's challenge (announced on Friday, February 35th at 6pm) is:</p>
    <p>AI Artist. Create a system that artistically interprets meteorological data. Create beautiful data visualisations, music, games, abstract images, or unique pieces of art.</p>
    
    <h3>Prizes</h3>
    <p>The prizes are cash, certificates, and job opportunities.</p>
    <ul>
        <li>First place: 2000$</li>
        <li>Second place: 1500$</li>
        <li>Third place: 1000$</li>
    </ul>
    <p>There are also special cash prizes for:</p>
    <ul>
        <li>Best submission from high school students: 250$</li>
        <li>Best submission from cegep students: 250$</li>
        <li>Best submission using only free and open source software tools: 250$</li>
    </ul>
    <p>Every prize includes a certificate identifying you as the winner of an XYZ competition.</p>
    <p>Finally, managers at XYZ may reach out to the best teams with internship or job opportunities at XYZ.</p>
    
    <h3>Data</h3>
    <p>We recommend all participants explore the data resources before the competition starts.</p>
    
    <ul>
        <li>See the great <a href="https://XYZ-msc.github.io/open-data/readme_{{ language.iso }}/"> open data technical documentation</a>.</li>
        <li>Data on <a href="https://www.canada.ca/en/environment-climate-change/services/climate-change/canadian-centre-climate-services/display-download/advanced-tools.html">CCCS</a> is easy to explore.</li>
        <li>Lots of raw data can be found on <a href="https://dd.meteo.gc.ca/">datamart</a>.</li>
    </ul>
    
    <h3>FAQ</h3>
    <p>See the <a href="/{{ year }}/{{ language.iso }}/faq.html">FAQ</a> for more information!</p>
    
</div>


{% endblock %}
