
html {
    font-size: 16px;
    font-family: sans-serif;
    display: block;
}

body {
    background-color: #F7F7F7;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(51,51,51);
    margin: 0px;
}

a {
  text-decoration: none;
}

.email-image {
    height: 20px;
}

.meteohack-banner-full{
    width: 100%;
}

.disclaimer-bar {
    width: 100%;
    background-color: yellow;
    border-style: solid;
    border-color: #cc0;
    border-width: 1px;
}

.disclaimer-bar-title{
    font-size: 24px;
    font-weight: bold;
}

.disclaimer-bar-item {
    color: black;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.navigation-bar {
  width:100%;
  background-color: #202020;
  border-color: #080808;
  overflow: auto;
  padding-left:30px;
  padding-right:30px;
}

.navigation-bar-link>a {
  color: #9d9d9d;
  font-size: 24px;
  padding:20px;
  float: left;
}

.navigation-bar-link>a:hover {
  color: #BDBDBD;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
    text-align: center;
    
    padding: 8px 0px 8px 0px;
    border: 1px solid;
    background-color:  #E95420;
    border-radius: 5px;
    color: #FFFFFF;
}

.centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.faq-question {
    padding: 5px 5px 5px 10px;
    border: 1px solid;
    background-color:  #5E2750;
    border-radius: 5px;
    color: #FFFFFF;
}

.panel {
    padding-bottom: 40px;
}

.patreon-button {
    width: 200px;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.patreon-image {
    width:100%;
}

.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.thin-container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
